
$test-border: 0px;

%left-sub-nav{
    @include height-width(100%,18%);
    @include border-style(1px,black);
}
%right-sub-nav{
    @include height-width(100%,10%);
    @include border-style($test-border,black);
}
%left-side-bar-1-1-sample{
    display: -webkit-flex;
    justify-content: center;
    @include height-width(30%,80%);
    @include border-style($test-border,black);
    margin: 0 auto;
}